<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		
	</header>

	<main>
		<a href='/signup', class="text-center new-account"> Create an account</a>
			<% if(message!=null){ %>    
				<div>
					<h1 class="text-center.error-message"><%= message %></h1>
				</div>
			<%}%>
			<% if(error.status!=null){ %>    
				<div>
					<h2 class="text-center.error-message"><%= error.status %></h2>
				</div>
				<pre><%= error.stack %></pre>
			<%}%>
			
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>